<p>Barclays Aliens</p>
<p>2017. All rights reserved</p>

<!-- Social Media Links -->
<ul class="social-media">
  <li><a href="#" class="fa fa-facebook-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-twitter-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-youtube-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-linkedin-square fa-2x"></a></li>
</ul>
