<link href="css/footer.css" type="text/css" rel="stylesheet">

<div class="footer-wrapper">
    <div class="footer-main">
        <div class="copyright">
            <p>Barclays Aliens 2017. All rights reserved</p>
        </div>
        <!-- Social Media Links -->
        <ul class="social-media">
            <li><a href="https://facebook.com/Younglings101" target="_blank" class="fa fa-facebook-square fa-2x"></a></li>
            <li><a href="https://twitter.com/younglings101" target="_blank" class="fa fa-twitter-square fa-2x"></a></li>
            <li><a href="https://instagram.com/younglings101" target="_blank" class="fa fa-instagram fa-2x"></a></li>
            <li><a href="https://youtube.com/" target="_blank" class="fa fa-youtube-square fa-2x"></a></li>
            <li><a href="https://www.linkedin.com/in/alwyn-van-wyk-7bb5431" target="_blank" class="fa fa-linkedin-square fa-2x"></a></li>
        </ul>
    </div>
</div>
