<meta charset="UTF-8">
<title>Younglings - Home</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/styles.css"></link>
<!-- JQuery -->
<script src="jquery-3.2.1.min.js"></script>
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/647d3df63d.js"></script>
