<div class="banner">
  <!-- Logo -->
  <img src="images/cowboy-alien.png" alt="Cowboy Alien Logo">
  <h2>Barclays Aliens'</h2>
  <h1>Younglings</h1>
</div>

<!-- Navigation Bar -->
<ul class="nav-bar">
  <li><a href="../">Home</a></li>
  <li><a href="../younglings-101">#Younglings101</a></li>
  <li><a href="../join">Become a Youngling</a></li>
  <li><a href="../partner">Partner with Younglings</a></li>
</ul>

<!-- Search -->
<form action="/search.js">
  <input type="text" name="search" placeholder="Search">
  <input type="submit">
</form>
