<!-- Logo -->
<img src="images/cowboy-alien.png" alt="Cowboy Alien Logo">

<!-- Social Media Links -->
<ul class="social-media">
  <li><a href="#" class="fa fa-facebook-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-twitter-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-youtube-square fa-2x"></a></li>
  <li><a href="#" class="fa fa-linkedin-square fa-2x"></a></li>
</ul>

<!-- Navigation Bar -->
<ul class="nav-bar">
  <li><a href="../">Home</a></li>
  <li><a href="../younglings-learning">#YounglingsLearning</a></li>
  <li><a href="../join">Become a Youngling</a></li>
  <li><a href="../partner">Partner with Younglings</a></li>
</ul>

<!-- Search -->
<form action="/search.js">
  <input type="text" name="search" placeholder="Search">
  <input type="submit">
</form>
