<link href="css/header.css" type="text/css" rel="stylesheet">
<div class="banner">
    <!-- Logo -->
    <div class="banner-left">
        <img src="images/cowboy-alien.png" alt="Cowboy Alien Logo">
        <div class="banner-left-text">
            <p>Barclays Aliens'</p>
            <h1>Younglings</h1>
        </div>
    </div>
    <div class="banner-search">
        <input type="text" placeholder="search" id="search-bar">
        <span class="fa fa-search"></span>
    </div>
</div>

<!-- Navigation Bar -->
<div class="wrapper">
<nav class="nav">
<ul class="nav-list">
  <li class="nav-item"><a href="../" class="link-ref">Home</a></li>
  <li class="nav-item"><a href="../younglings-101" class="link-ref">#Younglings101</a></li>
  <li class="nav-item"><a href="../join" class="link-ref">Become a Youngling</a></li>
  <li class="nav-item"><a href="../partner" class="link-ref">Partner with Younglings</a></li>
</ul>
</nav>
</div>