<link href="css/header.css" type="text/css" rel="stylesheet">

<div class="banner">
    <!-- Logo -->
    <div class="banner-left">
        <img src="images/cowboy-alien-transparent.png" alt="Cowboy Alien Logo">
        <div class="banner-left-text">
            <p>Barclays Aliens'</p>
            <h1>Younglings</h1>
        </div>
    </div>
    <div class="banner-right">
      <div class="right-text">
        <h3>Contact Us:</h3>
        <p>Barclays Aliens</p>
        <p><a href="mailto:younglings@cowboyaliens.com" target="_blank">younglings@cowboyaliens.com</a></p>
        <p>4 Darters Rd, Gardens, Cape Town, 8001</p>
      </div>
    </div>
</div>

<!-- Navigation Bar -->
<div class="wrapper">
  <nav class="nav">
    <ul class="nav-list">
      <a href="../"><li class="nav-item active">Home</li></a>
      <a href="../younglings101"><li class="nav-item">#Younglings101</li></a>
      <a href="../join"><li class="nav-item">Become a Youngling</li></a>
      <a href="../partner"><li class="nav-item">Partner with Younglings</li></a>
    </ul>
  </nav>
</div>
