<meta charset="UTF-8">
<title>Younglings - Home</title>

<!-- JQuery -->
<script src="jquery-3.2.1.min.js"></script>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/647d3df63d.js"></script>

<!-- Google Fonts -->
<link href = "https://fonts.googleapis.com/css?family=Raleway:400,700" type = "text/css" rel = "stylesheet">
