<!DOCTYPE html>

<html>
  <head>
    <% include partials/head %>
    <link href="css/home.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
    <div class="home-main-text">
      <h1 class="home-title">Teaching the Technologists of Tomorrow</h1>
        <p class="home-description">Welcome to Younglings, an innovative program run by Barclays Aliens that seeks to find young people interested in technology, develop their technical ability, and match them with a job at Aliens or another leading company in South Africa.</p>
        <p class="home-description">Through the Younglings program our students learn industry relevant, in-demand software engineering tools like Java and JavaScript, in addition to the soft skills that will help them excel in the workplace.</p>
        <p class="home-description">We are passionate about developing technical talent here in South Africa, expanding meaningful work to all people with the right combination of ability and drive. Here at Younglings, we are teaching the technologists of tomorrow. Join Us.</p>
    </div>
    </main>
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
