<!doctype html>

<html>
  <head>
    <% include partials/head %>
    <link href="css/join.css" type="text/css" rel="stylesheet">
    <script src="js/scroll.js"></script>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <div class="join-main-text">
        <h1 class="join-title">How to Become a Youngling</h1>
          <div class="join-icon-blocks">
            <div class="join-block">
              <a href="#start"><p>Start Coding</p></a>
              <a href="#start" class="fa fa-code fa-5x"></a>
            </div>
            <div class="join-block">
              <a href="#solidify"><p>Solidify Learning</p></a>
              <a href="#solidify" class="fa fa-keyboard-o fa-5x"></a>
            </div>
            <div class="join-block">
              <a href="#launch"><p>Launch Your Career</p></a>
              <a href="#launch" class="fa fa-briefcase fa-5x"></a>
            </div>
            <div class="join-block">
              <a href="#grow"><p>Grow as an IT Professional</p></a>
              <a href="#grow" class="fa fa-graduation-cap fa-5x"></a>
            </div>
          </div>
          <div id="start">
            <h2 class="join-subheader">Start Coding</h2>
              <p class="join-description">The program starts with 2 years of weekly classes to supplement school learning in Java.</p>
              <p class="join-description">If you don’t have this baseline you may need to complete a bridging course to get up to speed.</p>
              <p class="join-description"><strong>The most important things are a passion for tech and a drive to learn.</strong></p>
          </div>
          <div id="solidify">
            <h2 class="join-subheader">Solidify Learning</h2>
              <p class="join-description">After passing your tests, you’ll move into CapaCiti for a 6-month course to solidify your learning in Java and JavaScript.</p>
              <p class="join-description">Thanks to Oracle and the Western Cape Government, the course is free to students.</p>
              <div class="images">
                <div class="upper-images-container">
                  <img class="image" id="capaciti" src="images/capaciti.jpg" alt="CapaCiti Logo">
                  <img class="image" id="oracle" src="images/oracle.png" alt="Oracle Logo">
                  <img class="image" id="gov" src="images/western-cape-gov.png" alt="Western Cape Government Logo">
                </div>
              </div>
          </div>
          <div id="launch">
            <h2 class="join-subheader">Launch Your Career</h2>
              <p class="join-description">You’ll finish your training with 6-months at an innovative company like Aliens, DVT, and more.</p>
              <p class="join-description">Then you’ll move into a 1 year learnership to work on a real project as a software developer.</p>
              <p class="join-description">You’ve made it! After the learnership you’ll gain employment with your company, move to another one, or start your own with support.</p>
              <div class="images">
                <div class="lower-images-container">
                  <div class="left-images">
                    <a href="https://www.barclaysafrica.com/" target="_blank"><img class="image" id="barclays" src="images/barclays-africa.jpg" alt="Barclays Africa Logo"></a>
                    <a href="https://www.oldmutual.co.za/" target="_blank"><img class="image" id="oldmutual" src="images/old-mutual.png" alt="Old Mutual Logo"></a>
                  </div>
                  <div class="right-images">
                    <a href="http://www.dvt.co.za/" target="_blank"><img class="image" id="dvt" src="images/dvt.jpg" alt="DVT Logo"></a>
                    <a href="http://www.optisolutions.co.za/" target="_blank"><img class="image" id="opti" src="images/optisolutions.png" alt="OptiSolutions Logo"></a>
                  </div>

                </div>
                <a href="http://www.realmdigital.co.za/" target="_blank"><img class="image" id="realm" src="images/realm-digital.png" alt="Realm Digital Logo"></a>
              </div>
          </div>
          <div id="grow">
            <h2 class="join-subheader">Grow as an IT Professional</h2>
              <p class="join-description">You’ve made it! After the learnership you’ll gain employment with your company, move to another one, or start your own with support.</p>
              <p class="join-description">You’ll work with amazing mentors, contribute to various projects, and try out different techs on the bleeding edge of web design, mobile design, back-end programming, and more.</p>
          </div>
      </div>
    </main>
    <footer>
      <% include partials/footer %>
    </footer>
    <!-- jQuery (necessary for Scrolling) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/scroll.js"></script>
  </body>
</html>
