.banner{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    background-color: #287070;
    color: white;
    height: 120px;
}

.banner-left{
    display: flex;
    justify-content: center;
    align-content: left;
    float: left;
    margin-left: 0;
}

.banner-left-text{
    display: block;
    margin-left: 10px;
}

.banner-left-text p{
    font-weight: 200;
    font-size: 18px;
}

.banner-left-text h1{
    font-weight: 200;
    font-size: 32px;
}


.banner img {
    float: left;
    padding: 10px;
    height: 100px;
    width: 100px;
}

.right-text{
    line-height: .5em;
    float: right;
    margin-right: 10px;
}

.right-text p{
  font-size: 14px;
}


.wrapper{
    width: 100%;
    margin: auto;
    padding: 0;
    margin-top: -5px;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: darkseagreen;
    color: white;
    left: 0;
    right: 0;
}

.nav-list{
    width: 94.5%;
    list-style-type: none;
    margin: 0;
    text-align: center;
    height: 50px;
}

.nav-item{
    width: 25%;
    height: 50px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

  .nav-item:hover{
      background-color: darkgreen;
  }

  a {
    color: white;
    text-decoration: none;
  }

    a:hover {
      text-decoration: underline;
    }
