body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.home-main-text{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.home-title{
    text-align: center;
    color: #2F2F4F;
    font-weight: 400;
    padding: 0 0 30px 0;
    border-bottom: 1px solid lightgray;
}

.home-description{
    margin-bottom: 30px;
    text-align: left;
}

iframe {
  display: block;
  margin: 0 auto 30px auto;
  border: 1px solid darkseagreen;
}
