body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}


.join-main-text{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

  .join-main-text a{
    color: darkseagreen;
    padding: 0 80px;
  }

.join-title{
    text-align: center;
    font-weight: 400;
    color: #2F2F4F;
    padding: 0 0 30px 0;
}

.join-icon-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-block a{
  text-decoration: none;

}

.join-block p{
  color: black;
}

.join-block p:hover{
  color: darkgreen;
}

.join-subheader{
    margin-bottom: 0;
    color: #2F2F4F;
    text-align: left;
}

.join-description{
    margin-bottom: 0;
    text-align: left;
}

  .join-description strong {
    font-style: oblique;
    font-weight: 200;
  }

#start, #solidify, #launch {
  padding: 50px 0 0 0;
}

#grow {
  padding: 50px 0 50px 0;
}

/*Images*/

.join-main-text img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.images {
  height: 200px;
  width: 100%;
  border: 2px solid black;
  vertical-align: middle;
}



.lower-images-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.left-images{
  width: 60%;
  margin: 0 auto;
}

.right-images{
  width: 60%;
  margin: 0 auto;
}



.image {
  position: relative;
  display: inline;
  float: left;
  vertical-align: middle;
}

.image:hover{
  opacity: 0.6;
  transition: .5s ease;
}

#capaciti {
  height: auto;
  margin: 0 auto;
}

#oracle {
  width: 35%;
  height: auto;
  margin: 0 auto;
}

#gov{
  width: 30%;
  height: auto;
  margin: 0 auto;
}

#barclays {
  height: auto;
  margin: 0 auto;
  display: block;
}

#dvt {
  height: auto;
  margin: 0 auto;
  display: block;
}

#oldmutual {
  height: auto;
  margin: 0 auto;
  display: block;
}

#realm {
  width: 20%;
  height: auto;

}

#opti {
  height: auto;
  margin: 0 auto;
  display: block;
}
