body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.join-main-text{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

  .join-main-text a{
    color: darkseagreen;
    padding: 0 80px;
  }

.join-title{
    text-align: center;
    font-weight: 400;
    color: #2F2F4F;
    padding: 0 0 30px 0;
}

.join-subheader{
    margin-bottom: 0;
    color: #2F2F4F;
    text-align: left;
}

.join-description{
    margin-bottom: 0;
    text-align: left;
}

  .join-description strong {
    font-style: oblique;
    font-weight: 200;
  }

#start, #solidify, #launch {
  padding: 50px 0 0 0;
}

#grow {
  padding: 50px 0 50px 0;
}

/*Images*/

.join-main-text img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.images {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  padding:
}

.image {
  vertical-align: middle;
}

#capaciti {
  width: 20%;
  height: auto;
}

#oracle {
  width: 30%;
  height: auto;
}

#barclays {
  width: 30%;
  height: auto;
}

#dvt {
  width: 30%;
  height: auto;
}

#oldmutual {
  width: 30%;
  height: auto;
}

#realm {
  width: 30%;
  height: auto;
}

#opti {
  width: 30%;
  height: auto;
}
