body{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.partner-main-text{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.partner-title{
    text-align: center;
    color: #2F2F4F;
    font-weight: 400;
    padding: 0 0 30px 0;
}

.partner-description{
    margin-bottom: 30px;
    text-align: left;
}

input[type="text"] {
  margin: 20px 0 0 100px;
  width: 80%;
  height: 20px;
  border: 1px solid darkgreen;
  border-radius: 2px;
}

  input[type="text"]:focus {
    border: 2px solid darkgreen;
    box-shadow: 0 0 10px darkseagreen;
    outline: none;
  }

textarea {
  margin: 20px 0 20px 100px;
  width: 80%;
  height: auto;
  border: 1px solid darkgreen;
}

  textarea:focus {
    border: 2px solid darkgreen;
    box-shadow: 0 0 10px darkseagreen;
    outline: none;
  }

input[type="submit"] {
  position: relative;
  left: 878px;
  width: 150px;
  height: 40px;
  border: 2px solid darkgreen;
  border-radius: 4px;
  margin-bottom: 50px;
  color: darkgreen;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

  input[type="submit"]:hover {
    color: #fff;
    background-color: darkseagreen;
  }
